.weui_toptips {top:-100%; opacity: 0; transform: translateZ(0); -webkit-transition: top .2s linear, opacity .2s linear;transition: top .2s linear, opacity .2s linear; }
.weui_notification_close {display: block; position: absolute; top: 0; bottom: 0; right: 0; left: auto; width: 30px; }
.weui_notification_close .weui_icon_cancel:before {color:#fff;}
